{% extends '../include/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class = "col-md-12">
            <form method="post" class = "login" action="{% url 'account_logout' %}">
            	<h3 align="center">Sign Out</h3>
            	<p>{{ _("Are you sure you want to sign out?") }}</p>
			  	{% csrf_token %}
			  	{% if redirect_field_value %}
			  		<input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
			  	{% endif %}
			  	<button type="submit" class = "btn btn-danger">{{ _("Sign Out") }}</button>
			</form>
        </div>
    </div>
{% endblock content %}
{% include 'include/footer.html' %}