{% extends '../include/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class = "col-md-12 pt-2">
        <h4 class = "text-center">{% if token_fail %}Bad Token {% else %}Change Password {% endif %}</h4>
        {% if token_fail %}
	        {% url 'account_reset_password' as passwd_reset_url %}
	        <p class = "text-center">
	        	The password reset link was invalid, possibly because it has already been used.  Please request a 
	        	<a href="{{ passwd_reset_url }}">new password reset</a>
	        </p>
	    {% else %}
	    	{% if form %}
	        <div class = "login">
	            <form method="POST" action="{{ action_url }}">
                	{% csrf_token %}
	               	<div class = "form-group">
	               		<label class = "font-weight-bold" id = "password1">{{ form.password1.label }}</label>
	               		{{ form.password1 | attr:"class:form-control" | attr:"placeholder:" }}
	               	</div>
	               	<div class = "form-group">
	               		<label class = "font-weight-bold" id = "password2">{{ form.password2.label }}</label>
	               		{{ form.password2 | attr:"class:form-control" | attr:"placeholder:" }}
	               	</div>
	                <button class = "btn btn-sm btn-block btn-primary">Change password</button>
	                {% for field in form %}
	                    {% for error in field.errors %}
	                        <div class="alert alert-danger my-1">
	                            {{ error | escape }}
	                        </div>
	                    {% endfor %}
	                {% endfor %}
		        </form>
	        </div>
	        {% else %}
	        	<p>Your password is now changed.</p>
	        {% endif %}
	    {% endif %}
    </div>
</div>
{% endblock content %}