{% extends '../include/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class = "col-md-12 pt-2">
        {% if user.is_authenticated %}
        <div class = "alert alert-info">
            <span class = "text-center">
                <i class = "fas fa-exclamation-circle"></i>
                You are already logged in as <a href = "/accounts/profile/" class = "text-decoration-none">{{ user.username }}</a>
            </span>
        </div>
        {% else %}
        <div class="alert alert-info">
            <i class = "fas fa-exclamation-circle"></i>
            <span align="center">
                We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
            </span>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
