{% include '../include/header.html' %}
{% load static %}
{% load widget_tweaks %}


<div class="container pb-5 mt-3">
    <div class="row">
        <div class = "col-md-12">
            <div class = "login">
                <h4 align="center">Set password</h4>
                <form action="{% url 'account_set_password' %}" method="post">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }}
                            {% render_field field class="form-control" %}

                            {% for error in field.errors %}
                                <p>
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                </p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <button class = "btn btn-primary">Set</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% include 'include/footer.html' %}