{% extends '../include/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class = "col-md-12 pt-2">
        {% if user.is_authenticated %}
        <div class = "alert alert-info">
            <span class = "text-center">
                <i class = "fas fa-exclamation-circle"></i>
                You are already logged in as <a href = "/accounts/profile/" class = "text-decoration-none">{{ user.username }}</a>
            </span>
        </div>
        {% else %}
        <div class = "login">
            <h5 align="center">Password Reset</h5>
            <form method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <div class = "form-group">
                    <label class = "font-weight-bold" for = "email">{{ form.email.label }}</label>
                    {{ form.email | attr:"class:form-control" | attr:"placeholder:" }}
                </div>
                <button class = "btn btn-block btn-sm btn-primary">Reset My Password</button>
                {% for error in form.email.errors %}
                <div class="alert alert-danger mt-2">
                    {{ error | escape }}
                </div>
                {% endfor %}
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
