{% extends '../include/base.html' %}
 
{% block content %}
<div class="row">
   {% include '../include/left_side.html' %}
    <div class = "col-md-8">
        <div class = "row border-bottom">
            <div class = "col-12 p-2 d-flex justify-content-between">
                <h5 class = "m-0"> All questions</h5>
                <span class="float-right">
                <a href = "{% url 'questions:ask_question' %}" class = "btn btn-sm btn-primary">Ask question</a>
                </span>
            </div>
        </div>
        {% include 'questions/question_list.html' %}   	
    </div>
    {% include '../include/right_side.html' %}
</div>
{% endblock content %}